.places{
  max-width: 984px;
 display: grid;
 grid-template-columns: 1fr;
 row-gap: 80px;
 margin:92px auto 92px;
}
@media (max-width:768px){
  .places{
    row-gap: 73px;
    margin: 88px auto 88px;
  }
}
@media (max-width:600px){
  .places{
    margin: 60px auto 66px;
    row-gap:44px;
  }
}
