.header__logo{
  width: 176px;
  height: 52px;
  }
@media(min-width:1281px){
  .header__logo{
    width:25%;
    height:25%;
    }
}
@media (max-width:600px){
  .header__logo{
    width: 142px;
    height: 42px;
    }
}

