.lead__subtitle{
  max-width: 640px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  padding-bottom: 64px;
  margin: 0 auto;
}
/*----------------------------------Медиа---------------*/
@media (min-width:1281px){
  .lead__subtitle{
    max-width: 100vw;
    font-size: calc(1px + (30 + 1) * ((100vw - 320px) / (1280 - 320)));
    line-height: calc(1px + (36 + 1) * ((100vw - 320px) / (1280 - 320)));
    padding-bottom: 100px;
  }
}
@media (max-width:1024px){
  .lead__subtitle{
    padding-bottom: 56px;
    }
}
@media (max-width:768px){
  .lead__subtitle{
    max-width: calc(320px + (640 - 320) * ((100vw - 320px) / (768 - 320)));
    font-size: calc(16px + (30 - 16) * ((100vw - 320px) / (768 - 320)));
  }
}
@media (max-width:320px){
  .lead__subtitle{
    line-height: 20px;
    padding-bottom: 39px;
  }
}
