.place{
  display: grid;
  grid-template-columns:1fr 1.05fr;
  grid-auto-flow: row;
  gap:48px 40px;
}
/*--------------------------------Медиа--------------------------*/
@media (max-width:1024px){
  .place{
    grid-template-columns:1fr fit-content(49%);
    gap:47px 33px;
  }
}
@media (max-width:768px){
  .place{
    grid-template-columns:fit-content(47.2%) 1fr;
    gap:47px 30px;
  }
}
@media (max-width:600px){
  .place{
    grid-template-columns:1fr;
    gap:30px 0;
  }
}

